*{
    margin: 0;
    padding: 0;     
}

.main_container{
    width: auto;
    background-color: #58AAFF;   
    margin-left: 5%;
    margin-right: 5%;
    
}

.navbar-brand img {
    height: 50px;
}


.navbar-nav a{
    color: white;
}






footer{
    bottom: 0;
    top: 0;
}

.img-log{
    width: 20%;
    height: 20%;

}