*{
    margin: 0;
    padding: 0;
    width: auto;
   
           
}

.main_container{
    width: 90%;
    background-color:#58AAFF;
    justify-content: center;

}
.navbar-brand img {
    margin-left: 0;
}


.navbar-nav a{
    color: white;
}






footer{
    bottom: 0;
    top: 0;
}

.img-log{
    width: 20%;
    height: 20%;

}