.profile_log{
    height: 60px;
   width: 60px;
}

.profile .img{
    height: 50px;
    width: 50px;
    border: 1px red solid;
    border-radius: 25px;
}

.profile .img img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.profile .name{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.elect_func{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    margin-top: 10px;
    max-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid{
    height: 50%;
    width: 50%;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.btn_action h4{
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: inline;
    margin-top: 1px;
}