/* Center the logo and reduce its size */
.img-logo {
    display: block;
    margin: 10px auto;
    width: auto; /* Adjust the width as needed */
    height: 100px; /* Maintain aspect ratio */
}

.btn{
    display: flex;
    justify-content: space-evenly;    
}

.forgotten{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px auto;
    margin: 10px auto;    
}